.active{
    background-color: #f3eb06;
    color: #000;
}
.inactive{
    background-color: grey;
    color: white;
}
.lien{

    background-color: rgb(91, 243, 91);

}
.book{
    background-color: pink;
}
.image{
    background-color: turquoise;
}
